@import url(../fonts/nsi-fonts.css);

html {
    height: 100%;
}

body {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 800px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {  
    display: flex;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    white-space: pre-line;
    text-align: center;
    font-size: 100px;
    width: 610px;
    height: 370px;
    z-index: 3;
}

.title span {
    text-transform: uppercase;
}

.video {    
    position: absolute;
    z-index: -2;
    margin-top: -370px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title:hover {
    color: #4C4C4C;
}

.title:hover::before {
    position: absolute;
    right: 20px;
    top: 150px;
    padding: 10px 20px;
    text-decoration: none;
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    white-space: pre;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: normal;
    box-shadow: 3px 5px 5px black;
    z-index: 4;
}

.title::after {
    content: "";
    z-index: -1;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.title:hover::after {
    display: block;
}

